   @font-face {
     font-family: yekan;
     src: url("/assets/font/persianFont/yekan-font/yekan-regular.woff");
     src: url("/assets/font/persianFont/yekan-font/yekan-regular.ttf");
   }


   body {
     font-family: yekan;
     padding: 20px;
     direction: rtl;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #f5f5f5;
   }

   #clock {
     font-size: 40px;
   }